{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ title }}</h1>
        </div>
    </div>

    <div class="container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Generation</th>
                <th scope="col">Elemental types</th>
                <th scope="col">Abilities</th>
                <th scope="col">Hidden ability</th>
            </tr>
            </thead>
            <tbody>
            {% for pokemon in pokemons %}
                <tr>
                    <th scope="row">{{ pokemon.pokedex_id }}</th>
                    <td><a href="{% url 'pokemon_view' pokemon.pokedex_id %}">{{ pokemon.name }}</a></td>
                    <td>{{ pokemon.generation.name }}</td>
                    <td>
                        {{ pokemon.primary_type.name }}
                        {% if pokemon.secondary_type is not None %}
                            - {{ pokemon.secondary_type.name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if pokemon.abilities.all|length == 1 %}
                            {{ pokemon.abilities.first.spanish_name }}
                        {% else %}
                            {{ pokemon.abilities.first.spanish_name }} - {{ pokemon.abilities.last.spanish_name }}
                        {% endif %}
                    </td>
                    <td>{{ pokemon.hidden_ability.spanish_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}