<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    {% block style %}

    {% endblock %}
    <meta name="author" content="José Manuel de los Reyes">
    <title>
        {% block title %} Pokèmon DB {% endblock %}
    </title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
</head>
<body>
{% include 'header.html' %}

{% block content %}

{% endblock %}

{% bootstrap_javascript jquery='full' %}
</body>
</html>