{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ title }}</h1>
        </div>
    </div>

    <div class="container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Region</th>
                <th scope="col" class="text-center">New Pokèmon</th>
                <th scope="col" class="text-center">Pokèmon of generation</th>
            </tr>
            </thead>
            <tbody>
            {% for generation in generations %}
                <tr>
                    <th scope="row" class="text-center">{{ generation.gen_id }}</th>
                    <td class="text-center">{{ generation.name }}</td>
                    <td class="text-center">{{ generation.region }}</td>
                    <td class="text-center">{{ generation.added_pokemons }}</td>
                    <td class="text-center"><a href="{% url 'pokemon_gen' generation.gen_id %}">Pokèmon de la {{ generation.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}